* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}

p {
	color: #FFFF00;
}

h1 {
	font-size: 3em;
}

#section-title {
	text-transform: uppercase;
}

.languages {
	background-color: #90EE90;
}

.tools {
	border: 2px solid blue;
}

img + li {
	list-style-type: none;
}

section img {
	height: 20vh;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;
}
